{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SRCs/css/detalhe_envio.css' %}">
    <title>Detalhe Envio</title>
</head>
<body>
    <h2>Detalhes do Envio ENV-{{ envio.id_visual }}</h2>

    <div class="envio-box">
        <p><strong>Status:</strong> {{ envio.get_status_display }}</p>
        <p><strong>Remetente:</strong> {{ envio.remetente }}</p>
        <p><strong>Destinatário:</strong> {{ envio.destinatario }}</p>
        <p><strong>Solicitante:</strong> {{ envio.user.user.username }}</p>
    </div>

    <h3>Envio:</h3>
    <div class="timeline-horizontal">
        <div class="timeline-step completed">
            <div class="circle"></div>
            <p>Solicitação<br>{{ envio.data_solicitacao|date:"d/m/Y" }}</p>
        </div>

        <div class="timeline-step {% if envio.data_postagem %}completed{% endif %}">
            <div class="circle"></div>
            <p>Postagem<br>{{ envio.data_postagem|default:"-" }}</p>
        </div>

        <div class="timeline-step">
            <div class="circle"></div>
            <p>Previsão<br>{{ envio.previsao_chegada|default:"-" }}</p>
        </div>

        <div class="timeline-step {% if envio.data_chegada %}completed{% endif %}">
            <div class="circle"></div>
            <p>Chegada<br>{{ envio.data_chegada|default:"-" }}</p>
        </div>

        <!-- Linha de progresso -->
        <div class="timeline-progress"></div>
    </div>


    {% if is_remetente and envio.status == 'pendente_envio' %}
    <h3>Preencha as informações do envio</h3>
    <form method="post">
        {% csrf_token %}
        <label for="data_postagem">Data da Postagem*:</label>
        <input type="date" name="data_postagem" required><br><br>

        <label for="previsao_chegada">Previsão de Chegada*:</label>
        <input type="date" name="previsao_chegada"><br><br>

        <button type="submit">Atualizar envio</button>
    </form>
    {% endif %}

    {% if is_destinatario and envio.status == 'aguardando_recebimento' %}
    <h3>Conformar recebimento</h3>
    <form method="post">
        {% csrf_token %}
        <label for="data_chegada">Data da Chegada*:</label>
        <input type="date" name="data_chegada" required><br><br>

        <button type="submit" name="confirmar_recebimento">Confirmar Recebimento</button>
    </form>

    {% endif %}
    {% endblock %}

</body>
</html>