{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'SRCs/css/padrao_forms.css' %}">
    <link rel="stylesheet" href="{% static 'SRCs/css/menu.css' %}">
    <title>Cadastro de Unidade</title>
</head>
<body>

    {% include 'SRCs/menu_lateral_oculto.html' %}
    {% include 'SRCs/icone_user.html' %}
    <h1>Cadastro de Unidade</h1>
    <div class="container-formulario">

        <!-- Formulário principal -->
        <form action="{% url 'cadastro_unidade' %}" method="POST">
            {% csrf_token %}
            {% if modo == 'editar' and form.instance.pk %}
                <input type="hidden" name="id" value="{{ form.instance.pk }}">
            {% endif %}

            <div class="linha">
                {% for field in form.visible_fields %}
                    <div class="campo">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <div style="display: flex; gap: 10px; align-items: center;">
                <!-- Botão cadastrar -->
                <input type="submit" value="{% if modo == 'editar' %}Salvar Alterações{% else %}Cadastrar{% endif %}">
                
                <!-- Botão importar -->
                  <button type="button" id="btnImportar" class="btn-importar">
                    Importar unidades
                </button>
            </div>
        </form>

        <!-- Formulário de importação invisível -->
        <form id="formImportar" action="{% url 'importar_unidade' %}" method="POST" enctype="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <input type="file" id="arquivo_excel" name="arquivo_excel" accept=".xlsx,.xls" onchange="document.getElementById('formImportar').submit()">
        </form>

    </div>

    <script>
    document.getElementById('btnImportar').addEventListener('click', function() {
        document.getElementById('arquivo_excel').click();
    });
    </script>

</body>
</html>
