{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SRCs/css/menu_oculto.css' %}">
</head>
<body>
    
    <div class="menu-toggle" onmouseover="mostrarMenu()" onmouseout="ocultarMenu()">
    
</div>

<div class="menu-lateral-oculto" id="menuLateral" onmouseover="mostrarMenu()" onmouseout="ocultarMenu()">
     <ul>
        <li><a href="{% url 'home' %}">Menu Princiapl</a></li>
        <li><a href="{% url 'cadastro_user' %}">Cadastrar Usuário</a></li>
        <li><a href="{% url 'user' %}">Usuários</a></li>
        <li><a href="{% url 'cadastro_unidade' %}">Cadastrar Unidades</a></li>
        <li><a href="{% url 'unidade' %}">Unidades</a></li>
        <li><a href="{% url 'cadastro_envio' %}">Cadastrar Envios</a></li>
        <li><a href="{% url 'rateio' %}">Consultar Rateio</a></li>
    </ul>
</div>

</body>
</html>