{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SRCs/css/padrao.css' %}">
    <title>Unidades Cadastradas</title>
</head>
<body>
    <h1>Unidade salva</h1>
    <h2>Unidades Cadastradas</h2>
    <ul>
  {% for unidade in unidades %}
    <li>{{ unidade.shopping }}</li>  <!-- ajuste conforme os campos reais -->
  {% endfor %}
</ul>


</body>
</html>