{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SRCs/css/padrao.css' %}">
    <link rel="stylesheet" href="{% static 'SRCs/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'SRCs/css/lista.css' %}">
    <title>Unidades</title>
</head>
<body>
  {% include 'SRCs/menu_lateral.html' %}

    <div class="conteudo-centro">
      <h2>Unidades Cadastradas</h2>

    <form method="post" action="{% url 'excluir_unidades_multiplo' %}">
      {% csrf_token %}
      <ul class="lista-itens">
        {% for item in unidades %}
        <li>
          <label>
            <input type="checkbox" name="selecionados" value="{{ item.id }}">
            {{ item.shopping }} - {{ item.cnpj }} - {{ item.empresa }}
          </label>
        </li>
        {% empty %}
        <li>Nenhum item cadastrado</li>
        {% endfor %}
      </ul>

      <div class="botoes-acoes">
        <button type="submit" formaction="{% url 'editar_unidade' %}">Editar</button>
        <button type="submit">Excluir</button>
      </div>
    </form>

    </div>


</body>
</html>