body {
    font-family: Arial, sans-serif;
    color: #003762;
    margin: 0;
    padding: 0;
    background: white;
    overflow-y: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 32px;
    margin-left: 80px ;
}