body {
    font-family: Arial, sans-serif;
    color: #003762;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    overflow-y: auto;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-left: 500px;
}